@typeparam TItem

@if(ListaItem == null)
{
    if(Carregando == null)
    {
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
        <h1>Aguarde ... </h1>
    } else
    {
        @Carregando 
    }
    @* <p>Carregando ... </p> *@
}
else if(!ListaItem.Any())
{
    if(SemRegistro == null)
    {
        <img src="https://media.giphy.com/media/TqiwHbFBaZ4ti/giphy.gif" />
        <h1>Ainda não existem registros</h1>
    } else 
    {
        @SemRegistro
    }
    @* <p>Ainda não existem tarefas !</p> *@   
} else
{
    foreach (var item in ListaItem)
    {
        <tr>
        @Lista(item)
        </tr>
    }
}


@code{
    [Parameter] public RenderFragment Carregando { get; set; }
    [Parameter] public RenderFragment SemRegistro { get; set; }
    [Parameter] public List<TItem> ListaItem { get; set; }
    [Parameter] public RenderFragment<TItem> Lista { get; set; }
}
